*.sw*
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.spatialbench/
.pytest_cache/
.coverage
htmlcov/

evals_full/**/*.json
evals_full/**/*.h5ad
evals_full/**/*.csv
evals_full/**/*.tsv
evals_full/**/*.bed
evals_full/**/*.gz
evals_full/**/*.md

v2
results
